@CHARSET "UTF-8";
html,body{
	height: 100%;
}
html{
	margin: auto;
	background-color:lightblue;
}
body {
    background-color: beige;
    padding:30px;
    margin:10px;
    box-shadow: 0 0 3px;
}
h1 {
    font-size: 40px;
}
form {
	float:left;
}
table{
	clear:left;
}
a{
	margin-left:10px;
}
